.history-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.history > h3 {
    text-align: center;
    font-weight: bold;
}
 .history-card > h5 {
     color: grey;
     text-align: center;
     text-decoration: underline;
}

.empty-check-message {
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    margin: 10px auto;
    width: 70%;
}

.empty-data-message {
    font-size: 12px;
    text-align: center;
    margin: 10px auto;
    width: 70%;
    color: gray;
    font-style: italic
}