.favlist-content {
    display: flex;
    flex-flow: column;
    margin: auto;
    height: 99%;
    border-width: 5px;
    border-style: solid;
    border-image: linear-gradient(to bottom, black, rgb(250, 170, 66)) 1;
    padding: auto;
}

.favlist-content > img {
    margin: 15px auto;
    max-height: 100%;
    max-width: 98%;
    width: auto;
    min-width: 0;
    min-height: 0;
    border-radius: 10px;
    margin: auto;
    padding: 5px;
}

.favlist-btn {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 2px auto;
}

.favlist-btn > button {
    height: 60%;
    width: 30%;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    margin: auto 15px;
    border-radius: 4px;
}