.home-content {
    margin: 15px auto;
    text-align: center;
    flex-grow: 1;
}

.home-image {
    margin: 5px auto;
    width: 30%;
    border-radius: 10px;
}

.home-sentence {
    color: rgb(56, 56, 56);
}